<mat-card class="mx-4 my-4 pt-1 px-3 mat-elevation-z4" style="max-width: 900px">
  <div class="row bgBlue p-1 mt-0 mb-4" style="border-radius: 5px">
    <div class="col-3 pl-5 py-1 fgAqua" style="font-size: 1.25em">
      Current Games:
    </div>
  </div>
  <div
    *ngFor="let game of gameList$ | async; let odd = odd"
    (click)="onClickGame(game)"
    class="clickableHover py-1 px-3"
    [class.bgDarker]="!odd"
  >
    {{ game.name }}
  </div></mat-card
>
<button
  mat-flat-button
  class="px-2 py-0 mx-4 fgGray"
  (click)="gotoUnitDesigner()"
>
  Unit Design
</button>
