<mat-card class="mx-4 my-4 pt-1 px-3 mat-elevation-z4" style="max-width: 1800px">
  <div class="row bgBlue p-1 mt-0 mb-4" style="border-radius: 5px">
    <div class="row">
      <div class="col-3">
        <div class="col-3 pl-5 py-1 fgAqua" style="font-size: 1.15em">Unit&nbsp;Designer:</div>
      </div>
      <div class="col-6">
        <input class="form-control form-control-sm" #searchInput type="text" [formControl]="searchInputCtrl" />
      </div>
      <div class="col-3 px-0">
        <button mat-raised-button class="px-3 py-1 mt-1" (click)="search()">Find</button>
      </div>
    </div>
  </div>
  <div class="row fgLightGray">
    <div class="col-1">Faction</div>
    <div class="col-2">MarkerId</div>
    <div class="col-1">Division</div>
    <div class="col-1">Name</div>
    <div class="col-2">Type</div>
  </div>
  <!-- DISPLAY MESSAGE IF NO UNITS FOUND.... -->
  <div *ngIf="!foundUnits$ || (foundUnits$ | async)?.length == 0">No units</div>
  <div
    *ngFor="let unit of foundUnits$ | async; let odd = odd"
    class="clickableHover py-1 px-3"
    [class.bgDarker]="!odd"
    (click)="editUnitJson(unit)"
  >
    <div class="row">
      <div class="col-1">{{ unit.faction }}</div>
      <div class="col-2">{{ unit.markerId }}</div>
      <div class="col-1">{{ unit.division }}</div>
      <div class="col-1">{{ unit.name }}</div>
      <div class="col-2">{{ unit.unitType }}</div>
    </div>
  </div>
</mat-card>
