<mat-card class="mx-4 my-4 pt-1 px-3 mat-elevation-z4" style="max-width: 1800px">
  <div class="row bgBlue p-1 mt-0 mb-4" style="border-radius: 5px">
    <div class="row">
      <div class="col-3">
        <div class="col-3 pl-5 py-1 fgAqua" style="font-size: 1.15em">Unit&nbsp;Designer:</div>
      </div>
      <div class="col-5">
        <input class="form-control form-control-sm" #searchInput type="text" [formControl]="searchInputCtrl" />
      </div>
      <div class="col-2 px-0">
        <button mat-raised-button class="px-3 py-1 mt-1" (click)="search()">Find</button>
      </div>
      <div class="col-2 px-0 text-end">
        <button mat-raised-button class="px-3 py-1 mt-1 bgDarker2" (click)="createNewUnit()">Create unit</button>
      </div>
    </div>
  </div>
  <div class="row fgLightGray px-3 mb-1">
    <div class="col-1"><ng-container *ngTemplateOutlet="label; context: { text: 'Marker ID:' }"></ng-container></div>
    <div class="col-1"><ng-container *ngTemplateOutlet="label; context: { text: 'Fac/Div:' }"></ng-container></div>
    <!-- <div class="col-1"><ng-container *ngTemplateOutlet="label; context: { text: 'Division:' }"></ng-container></div> -->
    <div class="col-1"><ng-container *ngTemplateOutlet="label; context: { text: 'Name:' }"></ng-container></div>
    <div class="col-2"><ng-container *ngTemplateOutlet="label; context: { text: 'Unit Type:' }"></ng-container></div>
    <div class="col-2"><ng-container *ngTemplateOutlet="label; context: { text: 'Unit Symbol:' }"></ng-container></div>
    <div class="col-3"><ng-container *ngTemplateOutlet="label; context: { text: 'Sides:' }"></ng-container></div>
    <div class="col-2">
      <ng-container *ngTemplateOutlet="label; context: { text: 'Actions:' }"></ng-container>
    </div>
  </div>
  <!-- DISPLAY MESSAGE IF NO UNITS FOUND.... -->
  <div *ngIf="!foundUnits$ || (foundUnits$ | async)?.length == 0">No units</div>
  <!-- DISPLAY LIST OF FOUND UNITS -->
  <div
    *ngFor="let unitEditor of foundUnits$ | async; let odd = odd"
    class="clickableHover py-1 px-3"
    [class.bgDarker]="!odd"
    (click)="editUnitJson(unitEditor.json, $event.shiftKey)"
  >
    <div class="row">
      <div class="col-1">{{ unitEditor.markerId }}</div>
      <div class="col-1">{{ unitEditor.faction }} / {{ unitEditor.division }}</div>
      <!-- <div class="col-1">{{ unitEditor.division }}</div> -->
      <div class="col-1">{{ unitEditor.name }}</div>
      <div class="col-2">{{ unitEditor.unitType }}</div>
      <div class="col-2">{{ unitEditor.unitAppearanceEditor.unitSymbol }}</div>
      <div class="col-3">
        {{ unitEditor.sideEditors[0]?.toString() }}
        <span *ngIf="unitEditor.sideCount == 2"> [{{ unitEditor.sideEditors[1]?.toString() }}]</span>
      </div>
      <div class="col-2 py-0" (click)="$event.stopPropagation(); $event.preventDefault()">
        <button
          mat-button
          matTooltip="Edit unit"
          class="btn py-0 px-1 mx-1 my-0 lightBorder bgDarker"
          (click)="editUnitJson(unitEditor.json, $event.shiftKey)"
        >
          <mat-icon class="fgGray pt-1" style="font-size: 12pt">edit</mat-icon>
        </button>
        <button
          mat-button
          matTooltip="Clone unit"
          class="btn p-0 px-1 mx-1 my-0 lightBorder bgDarker"
          (click)="editUnitJson(unitEditor.json, true)"
        >
          <mat-icon class="fgGray pt-1" style="font-size: 12pt">group_add</mat-icon>
        </button>
        <button mat-button class="btn p-0 px-1 mx-1 my-0 lightBorder bgDarker" matTooltip="Delete unit">
          <mat-icon class="fgGray pt-1" style="font-size: 12pt">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>

<!-- THIS TEMPLATE RENDERS A SMALL FONT LABEL  -->
<ng-template #label let-text="text">
  <div class="fgLightGray px-1 labelText">{{ text }}</div>
</ng-template>
